<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<nav class="navbar navbar-default navbar-expand-lg">
    <div class="container row">
        <div class="col-md-6">
            <i class="fab fa-searchengin"></i>
            <span style="margin-right: 10px;"></span>
            <span class="title" routerLink="user" routerLinkActive="active"> <a>Busca usando API Github</a></span>
        </div>
        <div class="col-md-6"></div>
    </div>
</nav> 