<nav class="navbar-default navbar-expand-lg scrolling-navbar sticky-top" (scroll)="onWindowScroll($event);">
    <div class="container">
        <div class="container row navbar-collapse collapse navbar-nav">
            <div class="col-md-4 nav-link" routerLink="user" routerLinkActive="active"><a>Usuário</a></div>
            <div class="col-md-4 nav-link" routerLink="repos" routerLinkActive="active"><a>Repositório</a></div>
            <div class="col-md-4 nav-link" routerLink="star" routerLinkActive="active"><a>Mais Visitados</a></div>
        </div>
    </div>
</nav> 